<div class="container">
	<div [hidden]="submitted">
	<h2>New Contact</h2>
	<form (ngSubmit)="onSubmit" #contactForm="ngForm">
		<div class="form-group">
			<label for="contact-fname">First name: </label>
			<input type="text" class="form-control"  id="contact-fname" [(ngModel)]="contact.fname" placeholder="first name"/>
		</div>
		<div>
			<label for="contact-lname">Last name: </label>
			<input type="text" class="form-control" id="contact-lname" [(ngModel)]="contact.lname" placeholder="last name"/>
		</div>
		<button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid" (click)="save()">Save</button>
	</form>
	</div>
</div>
